
<div class="dx-field-value">
    <dx-drop-down-box
      [(value)]="treeBoxValue"
      [inputAttr]="{ 'aria-label': 'Owner' }"
      valueExpr="ID"
      displayExpr="name"
      placeholder="Select a value..."
      [showClearButton]="true"
      [dataSource]="treeDataSource"
      (onValueChanged)="onDropDownBoxValueChanged()"
    >
      <div *dxTemplate="let data of 'content'">
        <dx-tree-view
          [dataSource]="treeDataSource"
          dataStructure="plain"
          keyExpr="ID"
          parentIdExpr="categoryId"
          selectionMode="multiple"
          showCheckBoxesMode="normal"
          [selectNodesRecursive]="false"
          displayExpr="name"
          [selectByClick]="true"
          (onContentReady)="onTreeViewReady($event)"
          (onItemSelectionChanged)="onTreeViewSelectionChanged($event)"
        >
        </dx-tree-view>
      </div>
    </dx-drop-down-box>
  </div>

  <app-learn-directive></app-learn-directive>

  <p appBasicRedEle>learn-directive works!</p>


  <div>
    <nav>
      <ul>
        <li><a routerLink="/feature" routerLinkActive="active">Feature</a></li>
      </ul>
    </nav>
  
    <!-- This is where the routed components will be displayed -->
     <!-- By master branch -->
    <!-- New change added in branch -->
    <router-outlet></router-outlet>
  </div>
